@import '~bootstrap/scss/bootstrap';

.show-breakpoint::after {
  display: block;
  font-size: 20px;
  color: red;
  text-transform: uppercase;
  background: yellow;
  content: 'Yolo';
}

@media screen and (width < 576px) {
  .show-breakpoint::after {
    content: 'xs';
  }
}
