@use 'scss/_show-current-breakpoint';
@use '~bootstrap/scss/bootstrap';

.container {
  outline: 1px solid red;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

.add-habit-form form {
  border-width: 2px;
  border-color: yellow;
  border-style: dashed;

  div {
    background-color: aquamarine;
    padding: 1rem 1rem;
  }

  input {
    width: 100%;
  }
}
